@media only screen and (max-width: 688px) {
    body {
        font-family: 'Open sans', 'Sans-Serif';
    }

    #calculator {
        width: 800px;
        height: 1200px;
        background-color: #cfdbe4;
        margin: 0 auto;
        top: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }

    #result {
        height: 310px;
        padding-right: 70px;
    }

    #history {
        text-align: right;
        height: 20px;
        margin: 15px 20px;
        padding-top: 2px;
        padding-bottom: 30px;
        font-size: 70px;
        color: #919191;
    }

    #output {
        text-align: right;
        height: 60px;
        margin: 10px 20px;
        font-size: 100px;
    }

    #keyboard {
        height: 700px;
        width: 760px;
        padding-left: 60px;
    }

    .operator,
    .number,
    .empty {
        height: 140px;
        width: 140px;
        margin: 15px;
        float: left;
        border-radius: 50%;
        border-width: 0;
        font-weight: bold;
        font-size: 40px;
    }

    .number,
    .empty {
        background-color: #cfdbe4;
    }

    .number,
    .operator {
        cursor: pointer;
    }

    .operator:active,
    .number:active {
        font-size: 15px;
    }

    .operator:focus,
    .number:focus,
    .empty:focus {
        outline: 0;
    }

    button:nth-child(1) {
        font-size: 45px;
        background-color: #9F8EFF;
    }

    button:nth-child(2) {
        font-size: 45px;
        background-color: #FFB4E9;
    }

    button:nth-child(3) {
        font-size: 45px;
        background-color: #FF8A90;
    }

    button:nth-child(4) {
        font-size: 45px;
        background-color: #20b2aa;
    }

    button:nth-child(8) {
        font-size: 45px;
        background-color: #ffa500;
    }

    button:nth-child(12) {
        font-size: 60px;
        background-color: #f08080;
    }

    button:nth-child(16) {
        font-size: 45px;
        background-color: #7d93e0;
    }

    button:nth-child(20) {
        font-size: 45px;
        background-color: #9477af;
    }

    .number:hover {
        background-color: #a1a1a12d;
    }
}

@media only screen and (min-width: 688px) and (max-width: 992px){
    body {
        font-family: 'Open sans', 'Sans-Serif';
    }

    #calculator {
        width: 800px;
        height: 1200px;
        background-color: #cfdbe4;
        margin: 0 auto;
        top: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }

    #result {
        height: 310px;
        padding-right: 70px;
    }

    #history {
        text-align: right;
        height: 20px;
        margin: 15px 20px;
        padding-top: 2px;
        padding-bottom: 30px;
        font-size: 70px;
        color: #919191;
    }

    #output {
        text-align: right;
        height: 60px;
        margin: 10px 20px;
        font-size: 100px;
    }

    #keyboard {
        height: 700px;
        width: 760px;
        padding-left: 60px;
    }

    .operator,
    .number,
    .empty {
        height: 140px;
        width: 140px;
        margin: 15px;
        float: left;
        border-radius: 50%;
        border-width: 0;
        font-weight: bold;
        font-size: 40px;
    }

    .number,
    .empty {
        background-color: #cfdbe4;
    }

    .number,
    .operator {
        cursor: pointer;
    }

    .operator:active,
    .number:active {
        font-size: 15px;
    }

    .operator:focus,
    .number:focus,
    .empty:focus {
        outline: 0;
    }

    button:nth-child(1) {
        font-size: 45px;
        background-color: #9F8EFF;
    }

    button:nth-child(2) {
        font-size: 45px;
        background-color: #FFB4E9;
    }

    button:nth-child(3) {
        font-size: 45px;
        background-color: #FF8A90;
    }

    button:nth-child(4) {
        font-size: 45px;
        background-color: #20b2aa;
    }

    button:nth-child(8) {
        font-size: 45px;
        background-color: #ffa500;
    }

    button:nth-child(12) {
        font-size: 60px;
        background-color: #f08080;
    }

    button:nth-child(16) {
        font-size: 45px;
        background-color: #7d93e0;
    }

    button:nth-child(20) {
        font-size: 45px;
        background-color: #9477af;
    }

    .number:hover {
        background-color: #a1a1a12d;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1312px) {
    body {
        font-family: 'Open sans', 'Sans-Serif';
    }

    #calculator {
        width: 500px;
        height: 800px;
        background-color: #cfdbe4;
        margin: 0 auto;
        top: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }

    #result {
        height: 190px;
        padding-right: 20px;
    }

    #history {
        text-align: right;
        height: 20px;
        margin: 5px 20px;
        padding-bottom: 30px;
        font-size: 60px;
        color: #919191;
    }

    #output {
        text-align: right;
        margin: 0px 20px;
        font-size: 60px;
    }

    #keyboard {
        height: 700px;
        width: 500px;
        padding-left: 0px;
    }

    .operator,
    .number,
    .empty {
        height: 90px;
        width: 90px;
        margin: 15px;
        float: left;
        border-radius: 50%;
        border-width: 0;
        font-weight: bold;
        font-size: 40px;
    }

    .number,
    .empty {
        background-color: #cfdbe4;
    }

    .number,
    .operator {
        cursor: pointer;
    }

    .operator:active,
    .number:active {
        font-size: 15px;
    }

    .operator:focus,
    .number:focus,
    .empty:focus {
        outline: 0;
    }

    button:nth-child(1) {
        font-size: 45px;
        background-color: #9F8EFF;
    }

    button:nth-child(2) {
        font-size: 45px;
        background-color: #FFB4E9;
    }

    button:nth-child(3) {
        font-size: 45px;
        background-color: #FF8A90;
    }

    button:nth-child(4) {
        font-size: 45px;
        background-color: #20b2aa;
    }

    button:nth-child(8) {
        font-size: 45px;
        background-color: #ffa500;
    }

    button:nth-child(12) {
        font-size: 60px;
        background-color: #f08080;
    }

    button:nth-child(16) {
        font-size: 45px;
        background-color: #7d93e0;
    }

    button:nth-child(20) {
        font-size: 45px;
        background-color: #9477af;
    }

    .number:hover {
        background-color: #a1a1a12d;
    }
}
body {
        font-family: 'Open sans', 'Sans-Serif';
    }

    #calculator {
        width: 500px;
        height: 800px;
        background-color: #cfdbe4;
        margin: 0 auto;
        top: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }

    #result {
        height: 190px;
        padding-right: 20px;
    }

    #history {
        text-align: right;
        height: 20px;
        margin: 5px 20px;
        padding-bottom: 30px;
        font-size: 60px;
        color: #919191;
    }

    #output {
        text-align: right;
        margin: 0px 20px;
        font-size: 60px;
    }

    #keyboard {
        height: 700px;
        width: 500px;
        padding-left: 0px;
    }

    .operator,
    .number,
    .empty {
        height: 90px;
        width: 90px;
        margin: 15px;
        float: left;
        border-radius: 50%;
        border-width: 0;
        font-weight: bold;
        font-size: 40px;
    }

    .number,
    .empty {
        background-color: #cfdbe4;
    }

    .number,
    .operator {
        cursor: pointer;
    }

    .operator:active,
    .number:active {
        font-size: 15px;
    }

    .operator:focus,
    .number:focus,
    .empty:focus {
        outline: 0;
    }

    button:nth-child(1) {
        font-size: 45px;
        background-color: #9F8EFF;
    }

    button:nth-child(2) {
        font-size: 45px;
        background-color: #FFB4E9;
    }

    button:nth-child(3) {
        font-size: 45px;
        background-color: #FF8A90;
    }

    button:nth-child(4) {
        font-size: 45px;
        background-color: #20b2aa;
    }

    button:nth-child(8) {
        font-size: 45px;
        background-color: #ffa500;
    }

    button:nth-child(12) {
        font-size: 60px;
        background-color: #f08080;
    }

    button:nth-child(16) {
        font-size: 45px;
        background-color: #7d93e0;
    }

    button:nth-child(20) {
        font-size: 45px;
        background-color: #9477af;
    }

    .number:hover {
        background-color: #a1a1a12d;
    }